.cam {
  height: 29vh;
  width: 24vw;
  border-radius: 15px;
  cursor: pointer;
}

.card-container {
  position: relative;
  color: white;
}

.cam:hover {
  border-radius: 15px;
  outline: 2px solid rgb(20, 130, 233);
}

.name {
  position: absolute;
  bottom: 15px;
  left: 25px;
}
